@use '/src/styles/global.scss' as global;

.Home {
	display: flex;
	flex-direction: column;
	padding: 20px;
	width: 100%;
	height: fit-content;

	@media (max-width: 830px) {
		padding: 20px 10px;
	}

	.search-input-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 500px;
		margin: 0 auto;

		.search-input {
			text-align: center;
			width: 100%;
			position: relative;
			margin: 0 auto;

			&::placeholder {
				color: var(--clr-light-gray);
			}
		}

		.search-icon {
			position: relative;
			width: 25px;
			height: 25px;
			bottom: 32px;
			left: 10px;
		}
	}

	.order-text-container {
		display: flex;
		align-items: center;
		justify-content: center;

		gap: 10px;

		.arrow-container {
			width: 20px;
			height: 20px;
			display: flex;
			align-items: center;

			justify-content: center;
			cursor: pointer;

			.rotate {
				transform: rotate(180deg);
			}
		}
	}

	.home-loading {
		margin: 0 auto;
		margin-top: 300px;
	}
}
