.detail-image-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	aspect-ratio: 1/1;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: all ease-in 0.3s;
	border-radius: 0px 0px 30px 30px;
}

.images-circles-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	width: fit-content;
	height: fit-content;
	margin-top: 10px;

	.images-circles {
		background-color: var(--clr-light-gray);
		opacity: 0.3;
		border-radius: 50%;
		width: 10px;
		height: 10px;
	}

	.active-image-circle {
		opacity: 1;
	}
}
