$colors: (
	light: (
		'background': #ffffff,
		'foreground': #000000,
		'primary-font': #000000,
		'very-light-pink': #c7c7c7,
		'text-input-field': #f7f7f7,
		'green': #acd9b2,
	),
	dark: (
		'background': #15202b,
		'foreground': #e5e4e2,
		'primary-font': #e5e4e2,
		'very-light-pink': #c7c7c7,
		'text-input-field': #273b4e,
		'green': #00ba7c,
	),
);

$sm: 1.6rem;
$md: 1.8rem;
$lg: 2rem;
