@use '/src/styles/global.scss' as global;

:root.light {
	@each $shade, $color in map-get(global.$colors, light) {
		--clr-#{$shade}: #{$color};
	}
}

:root.dark {
	@each $shade, $color in map-get(global.$colors, dark) {
		--clr-#{$shade}: #{$color};
	}
}

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	line-height: 24px;
	font-weight: 400;
	font-family: 'Quicksand', sans-serif;
	background-color: var(--clr-background);
	color: var(--clr-primary-font);
	transition: all ease-in 0.3s;
}

body {
	height: 100vh;
}

.input {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--clr-text-input-field);
	border: none;
	border-radius: 15px;
	height: 40px;
	font-size: global.$md;
	color: var(--clr-primary-font);
	padding: 10px;
	margin-bottom: 12px;

	&:focus {
		outline: 3px solid var(--clr-foreground);
	}
}

.primary-button {
	background-color: var(--clr-green);
	border-radius: 8px;
	border: none;
	color: var(--clr-background);
	width: 100%;
	cursor: pointer;
	font-size: global.$md;
	font-weight: bold;
	height: 50px;
}

.login-section-container {
	margin-top: 20px;
	width: 100%;
	height: 80vh;
	display: grid;
	place-items: center;
}

.secondary-button {
	background-color: var(--clr-background);
	border-radius: 8px;
	border: 1px solid var(--clr-green);
	color: var(--clr-green);
	width: 100%;
	cursor: pointer;
	font-size: global.$md;
	font-weight: bold;
	height: 50px;
}

.title-center {
	text-align: center;
	font-size: global.$lg;
	font-weight: bold;
	transition: all ease-in 0.3s;

	@media (max-width: 450px) {
		font-size: global.$md;
	}
}

.text-info {
	margin-top: 0;
	margin-bottom: 20px;
	text-align: center;
	font-size: global.$sm;
	font-weight: 500;
	color: var(--clr-light-gray);
}

.background-color-transition {
	transition: background-color ease-in 0.3s;
}

.show-sidebar {
	transform: translate(0);
}

.arrow-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	background-color: transparent;
}

.arrow-button {
	/* Transparent background */
	background-color: transparent;

	/* Size */
	height: 20px;
	width: 20px;
}

.arrow-button--t {
	/* Edges */
	border-left: 4px solid var(--clr-light-gray);
	border-top: 4px solid var(--clr-light-gray);
	transform: translateY(25%) rotate(45deg);
}

.arrow-button--r {
	/* Edges */
	border-right: 4px solid var(--clr-light-gray);
	border-top: 4px solid var(--clr-light-gray);
	transform: translateX(-25%) rotate(45deg);
}

.arrow-button--b {
	/* Edges */
	border-bottom: 4px solid var(--clr-light-gray);
	border-right: 4px solid var(--clr-light-gray);
	transform: translateY(-25%) rotate(45deg);
}

.arrow-button--l {
	/* Edges */
	border-bottom: 4px solid var(--clr-light-gray);
	border-left: 4px solid var(--clr-light-gray);
	transform: translateX(25%) rotate(45deg);
}
