@use '../../styles/global.scss' as global;
.form-container {
	display: grid;
	grid-template-rows: auto 1fr auto;
	width: 300px;
}
.logo-login {
	width: 150px;
	margin-bottom: 48px;
	justify-self: center;
	display: none;
}
.form {
	display: flex;
	flex-direction: column;
}
.form a {
	color: var(--clr-green);
	font-size: global.$sm;
	text-align: center;
	text-decoration: none;
	margin-bottom: 52px;
}
.label {
	font-size: global.$sm;
	font-weight: bold;
	margin-bottom: 4px;
}

.input-email {
	margin-bottom: 22px;
}

.login-button {
	margin-top: 14px;
	margin-bottom: 30px;
}
@media (min-width: 875px) {
	.logo-login {
		display: block;
	}
}
